.conteiner__products{
    background-color: $colorPrincipal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    font-family: $fontBaloo;

    .card__1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 70vh;
        background-color: rgb(255, 255, 255);
        margin-left: 20%;
        border-top-right-radius: 70px;
        border-bottom-left-radius: 70px;
        font-family:"TTNorms-ExtraBold";
        font-size: 2em;

        img{
            width: 50%;
                    
        }
            
        .btn{
            width: 200px;
            height: 40px;
            border-radius: 20px;
            font-family:"TTNorms-ExtraBold";
            font-size: 20px;
            background-color: $colorDetalles2;
            margin-top: 15px;
        }
    }

    .card__1:hover{
        width: 28%;
        transition: 1s;
    }

    .card__2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 70vh;
        background-color: rgb(255, 255, 255);
        margin-right: 20%;
        border-top-right-radius: 70px;
        border-bottom-left-radius: 70px;
        font-family:"TTNorms-ExtraBold";
        font-size: 2em;

        h3{
            font-size: 0.9em;
            margin-bottom: 9%;
        }
                    
        p{
            padding-bottom: 2%;
        }
    
        img{
            width: 70%;
        }

        .btn{
            width: 200px;
            height: 40px;
            border-radius: 20px;
            font-family:"TTNorms-ExtraBold";
            font-size: 20px;
            background-color: $colorDetalles2;
            margin-top: 15px;
        }

    }

    .card__2:hover{
        width: 28%;
        transition: 1s;
    }



}


