header{

    font-family: "$fontBaloo";
    
    .logo__nav{
        width: 40%;
    } 

    
    .background-color{
            background-color: $colorPrincipal;
        
    }

    .nav-link{
        color: #fff;
    
    }


   
}


