header{
    
    .logo__nav{
        width: 40%;
    } 

    
    .background-color{
            background-color: $colorSecundiario;
            
        
    }

    .nav-link{
        color: #fff;
    
    }


   
}


