.section__aboutus{
    background-image: url(../assets/img/Fondocover.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: $colorPrincipal;
    h2{
        margin-left: 45%;
        color: #fff;
        background-color: $colorPrincipal;
        padding-top: 3%;
    }

    .nosotros__info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8rem;

        .nosotros__info-text{
            font-family:TTNorms-Regular;
            color:#fff;
            font-size: 1.8em;
            width: 900px;
            height: 600px;
            margin-left: 100px;
            overflow: scroll;

            div{
                .section__aboutus img{
                    width: 800px;
                    margin-right: 100px;
                    margin-bottom: 5em;
                }

            }

            
            
        }
        
        .nosotros__info-text::-webkit-scrollbar{
            width: 3px;
            height: 3px;
            background-color: rgb(224, 255, 245);
            
        }
        
        
    }
    
    

}

.section__aboutus img{
    width: 800px;
    margin-right: 100px;
    margin-bottom: 5em;
}



