.section__aboutus{
    background-color: $colorPrincipal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;

    h2{
        color: #fff;
        padding: 5%;
        
    }

    .nosotros__info{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 5% 5% 5%;

        .nosotros__info-text{
            color: #fff;
            max-width: 50%;
            padding-right: 10%;
        }

        img{
            width: 80%;
            padding-left: 10%;
        }
    }


}


@media screen and (max-width: 480px){

    .nosotros__info{
        flex-direction: column;   
        justify-content: center;
        align-items: center;

        p{
            height: 5%;

        }

        img{
            width: 60%;
            padding-left: 10%;
            padding-top: 5%;
        }


    }

}
