@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700;800&display=swap');

$fontBaloo: 'Baloo 2', cursive;

$colorPrincipal: #1B262C;
$colorSecundiario: #0F4C75;
$colorDetalles: #3282B8;
$colorDetalles2: #BBE1FA;
$colorDetalles3: #880404;

